/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #524c5b;
  --body-color: #e9eef9;
  --accent-color: #70c8f2;
  --blue-color: #0a79a7;
  --gray-color: #e9eef9;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;
}
